/*
cores: #FCAF17
*/
@font-face {
    font-family: 'reddead';
    src: url(/fonts/Redpines\ Textured.otf) format(opentype), url(/fonts/Redpines\ Textured.ttf) format(trutype);
}
*{
    margin: 0 auto;
}

body{
    background-color: rgb(0, 0, 0);
}

#menu-h{
    box-shadow: 1px 5px 5px rgb(20, 20, 20);
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 0;
}

#menu-h li{
    font-family: reddead;
    font-size: 30px;
    display: inline;
}
#menu-h li a{
    padding: 10px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#menu-h li a:hover{
    background-color:#EE0000;
}

#titlemain{
    font-size: 75px;
    text-align: center;
    font-family: reddead;
    color: white;
}

#titlemain #dois{
    text-align: center;
    font-family: reddead;
    color: #EE0000;
}


hr{
    box-shadow: 1px 5px 5px rgb(20, 20, 20);
    width: 60%;
    height: 3px;
    background: #FCAF17;
    color:  #FCAF17;
}

#logo{
    width: fit-content;
    margin: auto;
}
#logo img{

    width: 300px;
    height: 200px;
}

#imagens-title{
    text-align: center;
    font-family: reddead;
    font-size: 50px;
    color:white;
}

#imagens{
    width: fit-content;
    text-align: center;
}

#imagens img{
    padding: 10px;
    width: 500px;
    height: 300px;
    border: 1px solid #FCAF17
}

#sobre-title{
    text-align: center;
    font-family: reddead;
    font-size: 50px;
    color:white;
}
p{
    text-align: justify;
    font-family: reddead;
    color: white;
    width: 50%;
}
#videos-title{
    text-align: center;
    font-family: reddead;
    font-size: 50px;
    color:white;
}
#video{
    width: fit-content;
    text-align: center;
}
#video video{
    width: 75%;
}

/*#rodape{
    width: 100%;
    height: 0.5px;
    background: #FCAF17;
}*/
footer{
    box-shadow: inset 0px 5px 5px -6px #FCAF17;
    width: 100%;
    height: 250px;
    color: white;
}

footer h4{
    padding-top: 120px;
    font-family: reddead;
    font-size: 20px;
    text-align: center;
}