body{
    margin: 0 auto;
    background: linear-gradient(#00acac,#012c2c );

}

#banner{
    width: 100%;
    height: 350px;
}

#title{
    text-align: center;
    color: aliceblue;
}

p{
    text-align: center;
    color: aliceblue;
}

#images{
    text-align: center;
}
#images img{
    width: 500px;
    height: 400px
}

#video{
    text-align: center;
}
